@page "/asdffads"
@using System.Reflection.Metadata
@using Microsoft.AspNetCore.Razor.TagHelpers
@inject IJSRuntime JsRuntime;
<h3 xmlns="">MultipleChoiceQuestions</h3>

<link rel="stylesheet" type="text/css" href="css/TeacherView/QuestionManagement/CreateQuestionSet/MultipleChoice/multipleChoiceQuestions.css">

<h3>Multiple-choice Questions Builder</h3>
<div class="container-fluid questionContainer">
    @* Type question  *@
    <div class="row">
        <div class="col-md-1">
            <div class="questionNumberBox d-flex">
                <div class="questionNumber">@_questionNumber</div>
            </div>
        </div>
        <div class="col-md-11">

            <input type="text" class="form-control" placeholder="Type your question"/>
        </div>
    </div>
    @* Type number of points *@
    <div class="row top-buffer">
        <div class="col-md-1 offset-1  padding-right0 " >
            <input type="number" class="form-control" placeholder="Score"/>
        </div>
        <div class="col-md-1 padding-left0">
            <label>points</label>
        </div>
    </div>


    <div class="row top-buffer justify-content-center">
        <div class="col-md-2">
            <RadzenLabel Text="Check the correct question answer">
            </RadzenLabel>

        </div>
        <div class="col-md-1">

            <RadzenCheckBox Style="width: 36px;height: 34px" TValue="bool" Change=@(args => SetCorrectAnswer(args))>
            </RadzenCheckBox>

        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" placeholder="Answer"/>
        </div>
        <div class="col-md-1">
            <RadzenButton Icon="delete" style="width: 37px">
            </RadzenButton>
        </div>
    </div>
    @* Third row *@
    <div id="myDiv" class="row top-buffer justify-content-center">
        <div class="col-md-1 offset-2">
            <RadzenCheckBox Style="width: 36px;height: 34px" TValue="bool" Change=@(args => SetCorrectAnswer(args))>
            </RadzenCheckBox>

        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" placeholder="Answer"/>
        </div>
        <div class="col-md-1">
            <RadzenButton Icon="delete" style="width: 37px" Click="@DeleteAnswerRowAsync">
            </RadzenButton>
        </div>
    </div>
    
    <div id="divContainer"> asdasdas dasd asd asd asd asd</div>
    
        @* Add additional option *@
    <div class="row top-buffer justify-content-center">
        <div class="col-md-1 offset-2">
            <div class="additionalQuestionSelectBox">
            </div>
        </div>
        <div class="col-md-8">
            <button onclick="addMoreAnswers()" id="addButton" type="button" class="additionalQuestionButton">
                <span style="color: blue"> Add more</span>
            </button>
        </div>
    </div>
</div>
@* Add new question && Finish buttons *@
<div class="row top-buffer justify-content-between">
    <div class="col-md-3 offset-9">
        <RadzenButton Icon="" Text="Add question"> </RadzenButton>
        <RadzenButton Icon="" style="background-color: #3eb02f;margin-top: 5px" Text="Finish">
        </RadzenButton>
    </div>
    @* <div class="col-md-3"> *@
    @*    *@
    @* </div> *@
</div>

@code {
    
    
    bool _correctAnswerValue;

    int _questionNumber;

    bool? _correctAnswer;

    private void SetCorrectAnswer(bool? value)
    {
        _correctAnswer = value;
        Console.WriteLine(_correctAnswer);
    }

    private async Task DeleteAnswerRowAsync()
    {
        await JsRuntime.InvokeVoidAsync("deleteAnswerRow");
    }

    

}