@page "/index"
@* <link rel="stylesheet" type="text/css" href="css/index/styles3.css"> *@
 <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark c0">
        <div class="col-md-6 px-0">
            <h1 class="display-5 font-italic">RULES and guidelines for exams,</h1>
            <h1>CHEATING in exams and</h1>
            <h1>COMPLAINTS regarding exams</h1>
            <p class="lead my-3">To be better equipped for the tests that the year will bring – read a textbook. To prepare for the tests that life will bring – read a book. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-1 text-center test">
            <br>
            <br>
            <br>
            <p>Some general rules for participation in exams</p>
            <div class="container1">
                <div id="carouselContent" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active text-center p-4">
                            <p><b>You have three attempts at each exam</b></p>
                        </div>
                        <div class="carousel-item text-center p-4">
                            <p><b>You are automatically registered for exams, when all
                  compulsory study activities have been approved</b></p>
                        </div>
                        <div class="carousel-item text-center p-4">
                            <p><b>Please be aware that there are specific rules concerning
                  illness during an exam period</b></p>
                        </div>
                        <div class="carousel-item text-center p-4">
                            <p><b>You always receive an individual assessment, also when
                  it is a group exam</b></p>
                        </div>
                        <div class="carousel-item text-center p-4">
                            <p><b>Plagiarism and cheating are taken very seriously</b></p>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                    <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                </div>
            </div>
        </div>
        <div class="col-md-6"><img class="d-block img-fluid mx-auto" src="css/index/images/KnowTheRules-removebg-preview.png" alt="Know the Rules"></div>
    </div>
    <hr style="background-color: black; height: 2px" id="written_exam">
    <div class="c1">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2><b>Written Examination</b></h2>
                <br>
                <p style="font-size: 18px;">General rules</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="background-color: red;">You must:</th>
                            <th style="background-color: green;">You are allowed:</th>
                            <th style="background-color: red;">You are not allowed to:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Be present in the examination room during a written exam</td>
                            <td>To address the supervisor you must do so by raising your hand.</td>
                            <td>For some exams it is not allowed to use the Internet. WISEflow is of course an exception. If the student violate this rule it is considered as cheating and the supervisor can exclude the student from the examination.</td>
                        </tr>
                        <tr>
                            <td>Meet 30 minutes before the start of the examination to make sure the computers are ready before the examination begins.</td>
                            <td>If you want to leave the room this is only allowed with the permission of the supervisor and only under supervision.</td>
                            <td>To communicate during the exam</td>
                        </tr>
                        <tr>
                            <td>Bring your student card.</td>
                            <td>Read the exam paper in full</td>
                            <td>To go out to smoke during the exam</td>
                        </tr>
                        <tr>
                            <td>Bring a memory stick to all written exams</td>
                            <td>Plan and structure your answers to questions</td>
                            <td>To leave the exam the last 30 minutes</td>
                        </tr>
                        <tr>
                            <td>Switched off your phone during the exam, and it has to be turned in to the supervisor before the examination begins.</td>
                            <td>Plan the order in which you will answer</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Knows how to use the computer and its software, including WISEflow. If technical problems happens and it cannot be repaired immediately, the exam will continue with paper and pencil. Writing utensils have to be brought to each exam.</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Ensure that the document/exam paper is correctly saved at the computer during the examination.</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container c2">
        <div class="row">
            <div class="col-md-6 text-center">
                <h4>Examination Plans (date, time and place for exam)</h4> Exams take place according to the examination plans posted on Studynet by the Study Administration no later than December 1 (winter exams) and May 1 (summer exams). It is important that you keep up to date with the exam plans, as changes may occur. Changes which are made before the exam period1 has started will NOT be communicated directly to you. Remember therefore to check Studynet regularly, as exams may be rescheduled not only to a later date, but also to an earlier date. Any changes made during the 3-week exam period, will be sent to your VIA mail. </div>
            <div class="col-md-6 text-center c201"> <img class="d-block img-fluid mx-auto img-thumbnail c202" src="css/index/images/exam_plan.jfif" alt="Exam Plan"> </div>
        </div>
    </div>
    <div class="container c3">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4> Before the Exam</h4>
                <br> You need to show up in good time, so you can be ready and have all your IT equipment in place at least 15 minutes before the exam begins. Remember to bring your VIA ID Card or similar ID with your photo on. Before the examination begins, you need to identify yourself, so the exam invigilators may register your attendance. You are not permitted to sit for the exam if you haven’t identified yourself to the exam invigilators. Bring your own computer, power supply, extension cord and an empty USB stick so you can make regular back-up copies of your work. VIA does not provide a computer for you. If you are late, you may only enter the exam room and participate in the exam if the exam invigilator gives permission. If you are more than 10 minutes late, you must go to the Study Administration. The Study Administration will decide, where relevant in cooperation with the lecturer or Head of Programme, if you will be allowed to participate in the exam. You are only permitted to participate in the exam, if VIA finds it impossible that you may have received knowledge about the exam assignment, and that the reason for your delay is fair. Before the exam begins, the exam invigilators will give oral directions. The exam assignment will be distributed digitally in WISEflow where it will be available and ready for download when the exam begins. The exam assignment will only be distributed in printed form by the exam invigilators in special instances – e.g. if the exam is conducted without means of aid or if answers need to be written directly on the exam assignment. If the exam is conducted on paper, all necessary paper will be handed out to you. If you need more paper, contact the exam invigilator by raising your hand. </div>
        </div>
    </div>
    <div class="container c3">
        <div class="row">
            <div class="col-md-6 align-content-center c301"> <img class="d-block img-fluid mx-auto img-thumbnail c202" src="css/index/images/means_of_aid.png" alt="Means"> </div>
            <div class="col-md-6">
                <h4>Means of Aid</h4> The course description, curriculum or exam assignment will state which aids you should bring and any aids that are not allowed. This includes the use of own computer and whether use of internet is permitted or not. Access to the internet is always permitted in order to use WISEflow for download of the exam assignment and submission of your exam paper. It is not permitted to borrow means of aid from other examinees. </div>
        </div>
    </div>
    <div class="container c4">
        <div class="inner-container" style="width: 100%;">
            <hr>
            <div class="section-text align-center mbr-fonts-style display-5">
                <h4>Hand-in</h4>
                <p> The exam invigilators will announce when there is 30 minutes remaining of the exam. Options at written exams on campus: Unless it is stipulated otherwise in the curriculum, course description or exam assignment, you may choose between the following ways of handing in your exam paper </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-12 mbr-fonts-style display-7">
                <ul>
                    <li><strong>Handwritten</strong>
                        <p></p>
                    </li>
                    <li><strong>Digitally in WISEflow</strong>
                        <p></p>
                    </li>
                    <li><strong>A combination of handwritten material and digital submission in WISEflow</strong> </li>
                </ul>
                <br>
                <p>If part of the exam paper needs to be handed in separately, it will appear from the exam assignment. If a cover sheet in paper is distributed to you at the beginning of the exam, this has to be filled in. Please state on the cover sheet how you have handed in your paper: handwritten, digitally or a combination. The cover sheet has to be signed by you to confirm that the paper is made without unduly help. If the exam is conducted 100% in WISEflow, a cover sheet in paper is not needed. Instead you need to fill in a digital cover sheet and a solemn declaration in WISEflow before you can submit your exam paper. Handwritten exam papers may not be handed in during the last 30 minutes of the exam. You are permitted to submit your paper in WISEflow during the last 30 minutes, but there must be complete silence during the remaining time of the exam and therefore you are not allowed to hand in any written material, pack your things or leave the examination room.</p>
                <p>When handing in <strong> the exam has ended</strong> everyone must remain seated without talking until the invigilator has collected all exam papers. You are responsible for handing in everything in the relevant covers or in WISEflow. It is optional if you wish to hand in any drafts. If you haven’t finished your exam paper, you may hand in drafts and notes, if you notify it when handing in. The external examiner decides if the drafts and notes will be part of the assessment.</p>
                <p>You are allowed to take the exam assignment with you if you leave, when the exam has ended (but not if you leave before the exam finishes). If you wish to hand in your exam paper,<strong> before the exam
              finishes</strong>, you need to contact the exam invigilator. If you leave the exam, before it finishes, you are not allowed to bring your computer, mobile phone, exam paper or anything else with you. You have to come back and collect your things, when the exam has ended. Please leave the examination room in a quiet manner so that students with extended test time will not be disturbed.</p>
            </div>
        </div>
    </div>
    <hr id="oral_exam">
    <div class="container c4">
        <div class="row">
            <div class="col-md-6">
                <h2><b>Oral Examination</b></h2>
                <br>
                <h4>Time and place</h4>
                <p>Time and exam room will appear from the exam plan posted on Studynet by the Student Administration. </p>
                <p>Show up 15 minutes before so that you can fill the spot if a fellow student is absent, thereby securing that the exam may be conducted without breaks. If you are late you can only participate if the lecturer and external examiner allow you to participate.</p>
            </div>
            <div class="col-md-6"> <img class="d-block img-fluid mx-auto img-thumbnail c202" src="css/index/images/oral_exam.jpg" alt="Oral Exam"> </div>
        </div>
    </div>
    <div class="container c5">
        <div class="row">
            <div class="col-md-12">
                <h4>Conducting exams</h4>
                <br>
                <ul>
                    <li>
                        <p>Oral exams are public</p>
                    </li>
                    <li>
                        <p>The number of exam questions is proportional to the number of students and the questions cover the syllabus to a reasonable extent.</p>
                    </li>
                    <li>
                        <p>When the test starts all questions must be laid out and at no time during the test can less than 3 questions be available to choose from. You draw a question, yourself.</p>
                    </li>
                    <li>
                        <p>The lecturer will examine you. The external examiner can only ask clarifying questions. Under normal circumstances the lecturer is not allowed to stop the examination without consent from the external examiner.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr style="height:2px;">
    <hr style="height: 0.5px;">
    <hr>
    <div class="container c5" id="project_exams">
        <div class="row">
            <div class="col-md-12"> <img class="d-block img-fluid mx-auto img-thumbnail c202" src="css/index/images/project_exams.png" alt="Project Exam"> </div>
        </div>
    </div>
    <br>
    <div class="container c6">
        <div class="row">
            <div class="mbr-text counter-container col-12 col-md-12 mbr-fonts-style display-7 ">
                <h4>Time and place</h4>
                <ul>
                    <li>Time and room will appear from the exam plan posted on Studynet by the Student Administration.
                        <p></p>
                    </li>
                    <li>Show up 15 minutes before so that you are ready to present your project when the exam time starts.
                        <p></p>
                    </li>
                    <li>In project exams where the assessment covers several courses, one lecturer per course will typically participate. The exam will take place in a room with projector. Bring your own computer.
                        <p></p>
                    </li>
                    <li>Approx. one fourth of the exam time will be spent on your (group) presentation of the project. The following half of the time will be spent on individual examination taking into account the task allocation of the group. The other group members cannot be present. The last fourth of the time will be spent on assessment and individual grading. Students are not present during discussion of the grade </li>
                </ul>
            </div>
        </div>
    </div>
    <hr id="cheating_1">
    <hr style="height: 0.5px;">
    <hr style="height:2px;">
    <div class="container c7">
        <div class="row">
            <div class="col-md-8">
                <h1>Cheating</h1>
                <p>It is considered cheating when an examinee during exams</p>
                <ul>
                    <li>Gets unduly help</li>
                    <li>Helps another examinee with answers</li>
                    <li>Makes use of help other than permitted</li>
                </ul>
                <p>When submitting the written exams, the examinee must by signature confirm that the paper is made without unduly help. The signature may be digital.</p>
            </div>
            <div class="col-md-4"><img class="d-block img-fluid mx-auto img-thumbnail c701" src="css/index/images/cheating.jpg" alt="Cheating"></div>
        </div>
    </div>
    <div class="container c8">
        <div class="row">
            <div class="col-md-4"> <img class="d-block img-fluid mx-auto img-thumbnail c801" src="css/index/images/plagearism.jpg" alt="Plagearism"> <img class="d-block img-fluid mx-auto img-thumbnail c802" src="images/plagiarism.jpg" alt="Plagearism"></div>
            <div class="col-md-8">
                <h4>When is it considered plagiarism?</h4>
                <p>It is considered plagiarism when a student tries to give the impression of being the originator of an idea, a text, a layout etc. in a written assignment when the originator is another person. It is especially considered plagiarism if an assignment entirely or partially appears as being produced by the student/s itself/themselves, even if the assignment.</p>
                <ol>
                    <li>Includes identical or almost identical reproduction of others’ formulations or work when the reproduced parts are not marked with quotation marks, written in italics, indented or with another distinct indication of source references , including page numbers or the like (cribbing/copying). This is according to the programme guidelines for preparing a written assignment, also referred to as editorial guidelines. </li>
                    <li>
                        <hr>Includes substantial passages with a choice of words that are so close to another printed medium, that when compared it is obvious, that the passages could not have been written by the student without using the other printed medium (to paraphrase etc.)</li>
                    <li>
                        <hr>Includes the use of words or ideas of others without making references or giving credit to the originators (other kind of plagiarism)</li>
                    <li>
                        <hr>Reuse text and/or central ideas from one’s own work that has earlier been through an assessment or earlier published works without taking the above-mentioned points into consideration.</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container c9">
        <div class="row">
            <div class="col-md-12">
                <h4>Particularly on disturbing behavior during tests and exams</h4>
                <br>
                <p>The educational institution has the authority to remove an examinee from a test or exam if the examinee is displaying disturbing behaviour, for example if the examinee is noisy or breaking the institution’s code of conduct during exam. In less serious incidents the educational institution will first issue a warning3. The examination monitors will report the incident to the Head of Department.</p>
                <p>The reporting must take place immediately and without unnecessary delay. A written presentation of the case that contains information that can identify the reported examinee, as well as a short statement and the existing documentation about the incident must be attached to the reporting. If the incident is a repeated offense for one or more of the reported persons, this must be stated. Please read the paragraph on sanctions to find information about penalty for disturbing behavior.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="container c9">
        <div class="row">
            <div class="col-md-8">
                <h4>Sanctions</h4>
                <br>
                <p>On the basis of the report and the meeting the Head of Department will decide whether or not it is an incident of cheating in exam and also decide what type of sanction or penalty should be used against the student. The Head of Department can only decide on sanctions or penalty if the incident, from his or her perspective, is beyond any doubt a case of cheating in exam. The circumstance is reported to the Director if - and only if –the incident is so serious that it ought to lead to suspension or expulsion from the educational institution. In all other cases the Head of Department makes the decisions. The student is informed of the final decision in writing. The person who reported the incident and the student counselor will receive a copy – and a copy is added to the student’s folder.</p>
            </div>
            <div class="col-md-4"> <img class="d-block img-fluid mx-auto img-thumbnail c901" src="css/index/images/exam_fail3.png" alt="Exam Fail"> </div>
        </div>
    </div>
    <div class="container c10">
        <div class="row">
            <div class="col-md-12">
                <h4>Types of penalty</h4>
                <p>Provided that cheating in exam is proved, one of the following penalties will be used:</p>
                <ul>
                    <li><strong>Warning</strong>
                        <p>Written or oral warning against breaking the rules.</p>
                    </li>
                    <li><strong>Suspension from written exam on the premisses of the educational institution</strong>
                        <p>If a violation of the exam regulations has taken place. If that is the case, the student will be registered as ‘absent’ from that particular exam.</p>
                    </li>
                    <li><strong>Cancellation of a written paper</strong>
                        <p>The cancellation includes the written assignment where the cheating has been observed. The cancellation can happen even if an assessment has been made. It will be noted that the student has been unsuccessfull in an exam attempt. A repeated exam attempt with unduly help or nonpermitted aids will result in permanent expulsion from the study programme.</p>
                    </li>
                    <li id="exam_complaints1"><strong>Expulsion or suspension from the study programme</strong>
                        <p>If the incident is a case of serious or repeated cheating, the student will be expelled or suspended from the educational institution. The expulsion means that the student is excluded from participating in all activities at VIA University College, including all participation in classes and exams. The suspension entails that the student is excluded from participating in all activities at VIA University College, including all participation in classes and exams in the suspension period. In the case of suspension the student is registered as being on leave of absence during the period in question. After the suspension period, the student is automatically readmitted as a student at VIA University College at the study programme in question. Apart from the above mentioned penalties, the incident may be reported to the police if it concerns civil law.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<div class="container c11">
    <div class="row">
        <div class="col-md-12">
            <h4>Exam complaints</h4>
            <p>Complaints can be submitted in the following circumstances:</p>
            <ul>
                <li>The basis of examination; exam questions, tasks and in relation to educational goals and requirements </li>
                <li>Examination procedure</li>
                <li>Review/result of the exam </li>
            </ul>
            <p>The complaint must be in writing and reasoned/justified and individually submitted by the student no later than 2 weeks after the student is informed of the result of the exam.</p>
            <p>The complaint must be sent to the Head of Department who will manage and evaluate it. The student is entitled to receive a copy of the assignment given by the institution and a copy of the student’s submitted assignment in the case of a written exam. As a rule, the Head of Department presents the complaint to the original adjudicator: internal and external examiner. The examiners have 2 weeks to submit their professional opinion to the student’s questions. The student must be given the opportunity to comment on the professional opinions and has one week to reply. </p>
            <p>The Head of Department determines the outcome of the complaint based on the comments and the opinions. The decision must be in writing/written and substantiated and the result may be as follows:</p>
            <ul>
                <li>Reassessment. Except for oral examination</li>
                <li>Reexamination</li>
                <li>The complaint is dismissed</li>
            </ul>
            <p>The adjudicators must be in agreement, if the appeal is dismissed by the Head of Department.</p>
            <p>The student must be informed as soon as the decision has been made. If the result is a reexamination or a reassessment, the student must be informed of the fact that this can result in a lower grade.</p>
        </div>
    </div>
</div>
@* todo accordion does not work *@
    <div class="container c13" id="exam_complaints">
        <div class="row">
            <div class="col-md-9">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header"> <a class="collapsed card-link" data-toggle="collapse">
                  1. Re-examination or re-assessment
                </a> </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                            <div class="card-body">
                                <p>An offer of re-examination or reassessment must be accepted no later than 2 weeks after the student is informed of the decision. An acceptance hereof cannot be withdrawn. Reassessment or reexamination shall not be conducted, if the deadline is not respected. Reexamination or reassessment must take place as soon as possible. If a diploma is issued, the institution must take the diploma back until the assessment is available and subsequently issue a new diploma.</p>
                                <p>In the case of reexamination and reassessment, new examiners will be assigned. If the result of a complaint is reexamination or reassessment, the decision applies to all examinees if the original exam is equally inadequate to the former. </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header"> <a class="collapsed card-link" data-toggle="collapse" >
                  2. Particularly about reassessment
                </a> </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>In the case of reassessment, the examiners must have the files submitted: Exam questions or assignment, exam paper, the complaint, the original examiners’ opinions including comments from the student and the decision from the institution or the Ministry. The examiners will inform the educational institution of the result of the new assessment, including a written evaluation of the assessment. The educational institution will inform the student about the assessment and the evaluation here</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header"> <a class="collapsed card-link" data-toggle="collapse" >
                  3. Examination questions formulated by the Ministry
                </a> </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>The educational institution will immediately forward its own evaluation as well as complaints regarding examination questions, formulated by the Ministry of Science, Innovation and Higher Education, to the aforementioned Ministry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header"> <a class="collapsed card-link" data-toggle="collapse" >
                  4. Appeal of the decision
                </a> </div>
                        <div id="collapseFour" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>In case the student disagrees with the decision, he/she has the opportunity to lodge an appeal against the decision no later than 2 weeks after being informed of this decision. The appeal must be in writing and substantiated and sent to the Head of Department, who will appoint an appeals board. </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header"> <a class="collapsed card-link" data-toggle="collapse" >
                  5. Particularly about appeals board
                </a> </div>
                        <div id="collapseFive" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>The Head of Department will appoint an appeals board as soon as possible after the submission of the appeal. Permanent appeals boards can be appointed. VIA university College will defray the cost of the appeals board. The board consists of two external examiners, an examination eligible teacher and a student in the subject area.</p>
                                <p>About the selection:</p>
                                <ul>
                                    <li>The president of the corps for external examiners will designate the two external examiners and designate one of them as president of the board. The president can designate himself as external examiner or as president of the board. </li>
                                    <li>VIA University College will designate the examination eligible teacher and the student.</li>
                                </ul>
                                <p>The appeals board is covered by the Law of Public Administration, including conflicts of interests and confidentiality.</p>
                                <p>All members of the board must participate in board discussions and receive all documents for the board to be quorum. The discussion can be in writing and digital if there is consensus among the board members of a written process. If consensus among the board members cannot be reached, the discussion will terminate at a meeting where all members must be present. If the discussion ends by voting and there is a tie, the vote of the president is decisive. If the board is aware of errors of an exam during the process, VIA University College must be informed hereof and VIA will decide how to correct the error in accordance with the Executive Order of examination in chapter 9.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  