@page "/"
@page "/login"
@using LoginExample.Pages.Login
@using SEP3.PaperlessExam.Data.PaperlessExamSevice
@using SEP3.PaperlessExam.Model
@inject IPaperlessExamService PaperlessExamService;
@layout LoginLayout

<link rel="stylesheet" href="css/Login/style.css">
<body>
<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
    </form>
  </div>
</div>
</body>

@code {
	private string username;
	private string password;
	private string errorMessage;
  
  private async Task SubmitLogin()
  {
    try
    {
      await PaperlessExamService.LoginUser(new User( username, password));
      Console.WriteLine("Submit button");
      
    }
    catch (Exception e)
    {
      
    }
    

  }
}