@page "/MainView"
@using SEP3.PaperlessExam.Data.PaperlessExamSevice
@inject NavigationManager NavigationManager
@inject IPaperlessExamService PaperlessExamService
<link rel="stylesheet" type="text/css" href="css/View/view.css">
<h3>MainView</h3>

<div class="container">
    <div class="row">
        <div class="col-md-2 red">Create Account
            <img src="images/add-group.png"/></div>
        <div class="col-md-2"></div>
        <div class="col-md-2 red">Update Account<img src="images/edit.png" /></div>
        <div class="col-md-2"></div>
         <div class="col-md-2 red">Delete Account<img src="images/trash.png"/></div>
    </div>
</div>

     @code {

    private void ToCreateAccount()
    {
    NavigationManager.NavigateTo("/CreateAccount");
    }
}