.create
{
    background: #DE6262;
    height:200px;
    width: 200px;
    float: left;
    box-shadow: inherit;
    border: 2px solid black;
}

.button
{
    background: #FFFFFF;
    width: 200px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.update
{
    background: #DE6262;
    height:200px;
    width: 200px;
    float: left;
    box-shadow: inherit;
    border: 2px solid black;
    
}
.red{
    background: #DE6262;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.red:hover{
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    text-align: center;
    cursor: pointer;
    background: #8b1d2f;
}

.black{
    background: black;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);

}