.create
{
    background: #337ab7;
    height:200px;
    width: 200px;
    float: left;
    box-shadow: inherit;
    border: 2px solid black;
}

.button
{
    background: #FFFFFF;
    width: 200px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.update
{
    background: #337ab7;
    height:200px;
    width: 200px;
    float: left;
    box-shadow: inherit;
    border: 2px solid black;
    
}
.red{
    background: #337ab7;
    border-radius: 10px;
    box-shadow: 10px 15px 0px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    text-align: center;
    height: 200px;
}

.red:hover{
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    text-align: center;
    cursor: pointer;
    background: #255d8f;
}


.teacher{
    margin: 10px;
}

.comment{
    background: #0f6674;
    border: 1px solid black;
}