.create
{
    background: #337ab7;
    height:200px;
    width: 200px;
    float: left;
    box-shadow: inherit;
    border: 2px solid black;
}

.button
{
    background: #FFFFFF;
    width: 200px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.update
{
    background: #337ab7;
    height:200px;
    width: 200px;
    float: left;
    box-shadow: inherit;
    border: 2px solid black;
    
}
.red{
    background: #337ab7;
    border-radius: 10px;
    box-shadow: 10px 15px 0px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    text-align: center;
    height: 200px;
}

.red:hover{
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    text-align: center;
    cursor: pointer;
    background: #255d8f;
}


.teacher{
    margin: 10px;
}

.comment{
    background: #0f6674;
    border: 1px solid black;
}

* {
    font-family: sans-serif; /* Change your font family */
}

/* Passed events table */
.tableRed thead tr{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tableRed thead tr {
    background-color: red;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.tableRed th,
.tableRed td {
    padding: 12px 15px;
}

.tableRed tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tableRed tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tableRed tbody tr:last-of-type {
    border-bottom: 2px solid red;
}

.tableRed tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


/*Upcoming events table*/
.table thead tr{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

