@page "/ManageExaminationEvents"
@using SEP3.PaperlessExam.Data.PaperlessExamSevice
@inject NavigationManager NavigationManager
@inject IPaperlessExamService PaperlessExamService
<link rel="stylesheet" type="text/css" href="css/View/view.css">
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 red" @onclick="@GoToDelete" style="height: 100px"><h4><b>Find Exam To Delete</b></h4></div>
        <div class="col-md-4"></div>
    </div>
</div>

@code {

    private void GoToDelete()
    {
        NavigationManager.NavigateTo("/DeleteExam");
    }
}