@page "/MainView"
@inject NavigationManager NavigationManager

<link rel="stylesheet" type="text/css" href="css/View/view.css">
<div class="container">
    <div class="row">
       
        <div class="col-md-5 red" @onclick="@ToManageUsers">
            <h3><b>Manage Users</b></h3>
            <img src="images/group.png" style=" height: 150px;  align-content: center"/>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 red" @onclick="@ToManageExaminationEvents">
            <h3><b>Manage Exam Events</b></h3>
            <img src="images/test.png" style="height: 150px; align-content: center"/>

        </div>
    </div>
</div>

@code {

    private void ToManageUsers()
    {
        NavigationManager.NavigateTo("/ManageUsers");
    }

    private void ToManageExaminationEvents()
    {
        NavigationManager.NavigateTo("/ManageExaminationEvents");
    }

}