@page "/MyExams"
@inject NavigationManager NavigationManager

<link rel="stylesheet" type="text/css" href="css/View/view.css">

<div class="row">
    <div class="col-md-5">
        <img src="images/eye.png" style=" height: 120px;  align-content: center"/>
        <h3><b>View exams</b></h3>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
         <img src="images/exam.png" style=" height: 120px;  align-content: center"/>
                <h3><b>Take exam</b></h3>
    </div>
</div>

@code {
    
}