@page "/StudentMainPage"
@using SEP3.PaperlessExam.Model.ExamEvent

<table class="table">
   <thead>
   <tr>
      <th>Title</th>
      <th>Date</th>
   </tr>
   </thead>
   
   <tbody>
   @foreach (var item in _examinationEventsToShow)
   {
       <tr>
           <td>@item.ExamTitle</td>
           <td>@item.ExamDateAndTime</td>
       </tr>
   }
   </tbody>


</table>

@code {
    private IList<ExaminationEvent> _examinationEventsToShow;
    private
    

    private async Task<IList<ExaminationEvent>> GetExams()
    {
        
    }
}