.questionContainer{
    border:1px solid #222120;
    padding: 10px;
    margin: 10px;
}
/*Black box with question number*/
.questionNumberBox {

    width: 35px;
    height: 31px;
    background: #222120;
    justify-content: center;

}
.questionNumber{
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: 4px;
}
.counterDiv{
    color: white;
    text-align: center;
}
.questionNumber{

    width: 34px;
    background: #222120;
    color: white;


}
/*Remove spacing between cols right side*/
.padding-right0{
    padding-right:0;
}
/*Remove spacing between cols left side*/
.padding-left0{
    padding-left:0;
}
/* Space between bootstrap rows*/
.top-buffer { margin-top:20px; }

/*Add new question*/
.additionalQuestionSelectBox{
    width: 36px;
    height: 34px;
    border: 2px dotted rgb(12, 12, 12);
}
.additionalQuestionButton{
    border: 2px dotted rgb(12, 12, 12);
    width: 50%;
    background: white;
}

.row{
    padding-top: 10px;
}