@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
@* Toast Notifications *@
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="4"
                ShowProgressBar="true" RemoveToastsOnNavigation="true"/>

@code
{
    // [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    // protected async override Task OnInitializedAsync()
    // {
    //     base.OnInitialized();
    //     var user = (await AuthStat).User;
    //     if(!user.Identity.IsAuthenticated)
    //     {
    //         Navigation.NavigateTo("/login");
    //     }
    //  }

}