<link rel="stylesheet" type="text/css" href="css/Navbar/style.css">


<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="index">Paperless Exam</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@* Admin views *@
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
  <AuthorizeView Policy="MustBeAdmin">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MainView">
                <span class="iconify" data-icon="ic:baseline-home" data-inline="false"></span> Main View
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ManageUsers">
                <span class="iconify" data-icon="ic:round-supervised-user-circle" data-inline="false"></span> Manage Users
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ManageExaminationEvents">
                <span class="iconify" data-icon="ic:outline-insert-drive-file" data-inline="false"></span> Manage Exams Admin
            </NavLink>
        </li>
 </AuthorizeView>
        <AuthorizeView Policy="MustBeTeacher">
        @* Teacher *@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="teacherMainPage">
                <span class="iconify" data-icon="ic:baseline-home" data-inline="false"></span> Main Page Teacher
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ExamManagement">
                <span class="iconify" data-icon="mdi:calendar-clock" data-inline="false"></span> Manage Exams Teacher
            </NavLink>
        </li>
           <li class="nav-item px-3">
               <NavLink class="nav-link" href="questionManagement">
                   <span class="iconify" data-icon="mdi:file-question-outline" data-inline="false"></span> Questions Management
               </NavLink>
           </li>
           </AuthorizeView>
        @* Student views *@
     <AuthorizeView Policy="MustBeStudent">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="studentMainPage">
                <span class="iconify" data-icon="mdi:calendar-clock" data-inline="false"></span> Main Page Student
            </NavLink>
        </li>
         </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}